/* The first bar of the header. */
.top-bar {
    background: #006600;
    border-bottom: #8d928b;
    width: 100%;
    height: 6px;
}

/*  Logo of the website*/
#brand {
    margin-top: 5px;
    margin-left: 34px;
}
.carousel-caption{
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/* The second bar containing the banner. */
.middle-bar {
    width: 100%;
    height: 118px;
}

.middle-bar table {
    margin: 5px 12px 0 0;
    border: none;
}

.dropdown-menu {
    background: #061733;
}

.middle-bar input {
    border: none;
    outline: none;
    width: 190px;
    height: 20px;
    font-size: 11px;
    margin-left: 10px;
}

.middle-bar .social-td {
    padding-right: 8px;
}

.msg-content {
    margin-top: 10px;
}

.middle-bar .social-td a img:hover {
    opacity: 0.5;
}

.middle-bar #submit-button {
    outline: none;
    border: none;
    background: transparent;
}

.middle-bar .wrapper {
    border: 1px solid #aaaaa8;
    border-radius: 20px;
}

.middle-bar .material-icons {
    color: #a9a9a9;
    font-size: 16px;
}

.middle-bar .btn-info {
    padding-top: 2px;
    width: 100%;
    height: 25px;
}

/* The third bar containing the navigation */
.bottom-bar .navbar {
    background-color: #061733;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #010b1a;
    border-bottom: 1px solid #818181;
}
.maxheight{
    width:auto;
    max-height:260px;

}
.bottom-bar .nav li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.bottom-bar .nav li a:hover {
    background-color: #0E264D;
}
#myCarousel{
    margin-top:10px;
}
.green{
    color:green;
}
/* Media queries */
@media (max-width: 585px) {

    .middle-bar input {
        width: 129px;
    }

    .middle-bar table {
        margin-bottom: 20px;
    }

    .middle-bar .pull-right {
        float: left !important;
    }

}