* {
    padding: 0;
    margin: 0;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, cursive;
}

html, body {
    background-color: rgb(243, 243, 243);
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, cursive;
// background-blend-mode: red;
// color: black;
// border: 2 px solid rgb(8, 0, 134);
// padding: 1 em;
    position: relative;
    box-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66)

}

.refpopups-chevron-out {
    border: 10px solid;
    border-bottom-width: 0;
    border-color: rgb(8, 0, 134) transparent transparent;
    position: absolute;
    bottom: -8px;
    z-index: 1
}

header {
    height: 50px;

    background-color: white;
    text-align: center;
    border-bottom: dashed;
    border-color: #0E264D;
}

footer {
    height: 50px;

    background-color: silver;
    text-align: center;
}

#Container, #Content {
    height: calc(100% - 50px);
    overflow: auto;
}

#Left, #Right {
    height: 100%;
}

#Left {
    float: left;
    background-color: blue;
    color: white;
}

#Right {
    overflow: auto;
}

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }

    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}