table {
    font-style: italic;
}

.center { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center; 
}
.divisionLeft{
    border-right-style: dashed;
    border-right-color: #2C93FF;
    border-width: 3px;
    height: 100vh;
}
.divisionRight{
    background-color: #009900;
    border-left-style: dashed;
    border-left-color: #2C93FF;
    border-width: 3px;
    color: #FFF;
    height: 100vh;
}

#navigatorScroll-1{
    height: 100vh;
    width: 100vw;
}
#navigatorScroll-2{
    height: 100vh;
    width: 100vw;
    background-color: #009900;
    color: #FFF;
}
#navigatorScroll-3{
    height: 100vh;
    width: 100vw;
}